{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <script src="https://cdn.tailwindcss.com"></script>
	 <!-- <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}"> -->
</head>
<body>
	<header class="flex justify-between bg-[#f5d9ce]">
		<div class="pl-8 pt-4">
			<h1>Musicplayer</h1>
		</div>
		<div class="">
			<img src="{% static '/music.png' %}" class="h-14">
		</div>
		<div class="pr-8 pt-4">
			<ul class="flex space-x-8">
				<li>Home</li>
				<li>Favorites</li>
				<li>Login</li>
			</ul>
		</div>
		
	</header>
	

</body>
</html>