{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <script src="https://cdn.tailwindcss.com"></script>
	 <!-- <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}"> -->
</head>
<body>
	<header class="flex justify-between bg-[#7a3d66] font-bold tracking-widest text-lg">
		<div class="pl-8 pr-16 pt-4">
			<h1>Musicplayer</h1>
		</div>
		<div class="">
			<img src="{% static '/music.png' %}" class="h-14">
		</div>
		<div class="pr-8 pt-4">
			<ul class="flex space-x-8">
				<li>Home</li>
				<li>Favorites</li>
				<li>Login</li>
			</ul>
		</div>
	</header>
	{% block content %}
	{% endblock %}
	<content>
		
	</content>	
	<footer class="fixed bottom-0 w-screen h-8 bg-[#7a3d66] text-center font-bold tracking-widest text-lg">
		<h1 class="text-center">©ank.org</h1>
	</footer>
</body>
</html>