{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <script src="https://cdn.tailwindcss.com"></script>
	 <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet"/>
</head>
<body class="bg-gradient-to-r from-yellow-300 to-blue-900">
	<header class="flex justify-between bg-gradient-to-r from-blue-500 to-yellow-500 font-bold tracking-widest text-lg rounded-xl">
		<div class="pl-8 pr-16 pt-4">
			<h1>Musicplayer</h1>
		</div>
		<div class="">
			<img src="{% static 'music.png' %}" class="h-14 pl-28">
		</div>
		<div class="pr-8 pt-4">
			<ul class="flex space-x-8">
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'song' %}">Songs</a></li>
				<li><a href="{% url 'login' %}">{%if username%}{{username}}{%else%}Login{%endif%}</a></li>
			</ul>
		</div>
	</header>
	<content>
		{% block content %}
		{% endblock %}
	</content>	
	<footer class="fixed bottom-0 w-10/12 h-8 bg-gradient-to-r from-blue-500 to-yellow-500 text-center font-bold tracking-widest text-lg rounded-xl ml-32 mb-1">
		<h1 class="text-center">©ank.org</h1>
	</footer>
</body>
</html>